@import "tailwindcss";

@font-face {
  font-family: line;
  src: url(../public/font/LINESeedSansTH_W_Rg.woff2);
}

@font-face {
  font-family: line-bold;
  src: url(../public/font/LINESeedSansTH_W_Bd.woff2);
}

body, html {
  padding: 0;
  margin: 0;
  font-family: line;
  background-image: url(../public/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}